<?xml version="1.0" encoding="UTF-8"?>
 
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.xsd">

	<security:global-method-security />

	<security:http auto-config="false" entry-point-ref="authenticationProcessingFilterEntryPoint">
		<security:intercept-url pattern="/login.jsp" filters="none" />
                <security:intercept-url pattern="/ext3/**" filters="none" />
                <security:intercept-url pattern="/img/header.png" filters="none" />
                <security:intercept-url pattern="/js/login.js" filters="none" />
                <security:intercept-url pattern="/ext3/adapter/ext/ext-base.js" filters="none" />
                <security:intercept-url pattern="/ext3/ext-all.js" filters="none" />
		<security:intercept-url pattern="/**" access="ROLE_USER" />
	</security:http>

	<bean id="authenticationProcessingFilter" class="com.security.AuthFilter">
		<security:custom-filter position="AUTHENTICATION_PROCESSING_FILTER" />
		<property name="defaultTargetUrl" value="/index.html" />
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>

	<security:authentication-manager alias="authenticationManager" />

	<bean id="authenticationProcessingFilterEntryPoint" class="org.springframework.security.ui.webapp.AuthenticationProcessingFilterEntryPoint">
		<property name="loginFormUrl" value="/login.jsp" />
		<property name="forceHttps" value="false" />
	</bean>

    <security:authentication-provider>
        <!--<security:password-encoder hash="md5"/>-->
        <security:user-service>
            <security:user name="root" password="123456" authorities="ROLE_SUPERVISOR, ROLE_USER, ROLE_TELLER" />
	    </security:user-service>
	</security:authentication-provider>
</beans>